.commentContainer {
    display: flex;
    padding: 1em;
    border-radius: 7px;
    background-color: $white;
    margin-bottom: 1em;

    .scoreContainer {
        margin-right: 1em;
        padding: 10px;
        background: $very-light-gray;
        height: 100px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;

        .score {
            margin: 15px 0px;
        }
        .plus-btn,
        .minus-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
        }
        .plus,
        .minus {
            cursor: pointer;
            path {
                fill: $moderate-blue;
                &:hover {
                    fill: $light-grayish-blue;
                }
            }
        }
    }
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
        .avatar {
            width: 40px;
        }

        .name {
            font-weight: 700;
            margin: 0 0.5em;
            font-size: 18px;
        }
        .you {
            background-color: $moderate-blue;
            color: $white;
            background-color: #5457b6;
            color: white;
            margin-right: 5px;
            padding: 0 5px;
            border-radius: 3px;
        }
        .createdAt {
            color: $grayish-blue;
            font-size: 15px;
        }
        .reply {
            margin-left: auto;
            display: flex;
            cursor: pointer;

            &:hover .reply-text {
                color: $light-grayish-blue;
            }
            &:hover .reply-img path {
                fill: $light-grayish-blue;
            }

            .reply-text {
                font-weight: 700;
                margin-left: 5px;
                color: $moderate-blue;
            }
        }

        .delete-and-edit {
            display: flex;
            margin-left: auto;
            .edit,
            .delete {
                display: flex;
                font-weight: 700;
                align-items: center;
                margin-left: 1em;
                cursor: pointer;

                .edit-txt,
                .delete-txt {
                    margin-left: 5px;
                    color: $moderate-blue;
                }
                .delete-txt {
                    color: $soft-red;
                }
            }
            .edit:hover .edit-txt,
            .edit:hover .edit-img path {
                color: $light-grayish-blue;
                fill: $light-grayish-blue;
            }

            .delete:hover .delete-txt,
            .delete:hover .delete-img path {
                color: $pale-red;
                fill: $pale-red;
            }
        }
    }
    .comment-text {
        color: $grayish-blue;
        .mention-name {
            color: $moderate-blue;
            font-weight: 700;
        }
    }
}

.replyWrapper {
    width: 95%;
    margin-left: auto;
    padding-left: 3%;
    border-left: 3px solid $border-left-color;
}

@include responsive('tablet') {
    .commentContainer {
        position: relative;
        padding-bottom: 4em;
        margin-bottom: 0.7em;
        .scoreContainer {
            flex-direction: row;
            align-items: center;
            height: auto;
            position: absolute;
            bottom: 0.7em;
            left: 1em;
            .score {
                margin: 0 15px;
            }
        }
        .header {
            .reply,
            .delete-and-edit {
                position: absolute;
                right: 1em;
                bottom: 1.3em;
            }
            .name {
                font-size: 17px;
                margin: 0 0.3em;
            }
            .createdAt {
                margin-left: auto;
            }
        }
    }
}
